
<mat-toolbar color="primary">
  <button mat-icon-button (click) = "sidenav.toggle()">
    <!-- <mat-icon svgIcon="menu"></mat-icon> -->
    <mat-icon>menu</mat-icon>
  </button>
  <span>MyFitnessApp</span>
</mat-toolbar>

<!--
<mat-toolbar style="background-color:#2c323f;">
  <button mat-icon-button (click) = "sidenav.toggle()">
    <mat-icon style="color:'white';">menu</mat-icon>
  </button>
  <span style="color:'white';">MyFitnessApp</span>
</mat-toolbar>
-->

<mat-sidenav-container style="min-height:90%">
  <mat-sidenav #sidenav [mode]="mode" [(opened)]="sidenav_opened" class="my-sidenav">
    <mat-nav-list style="padding-top:0;">
      <a routerLink=''>
        <mat-list-item>
          <!--<mat-icon svgIcon="account_box" matListIcon></mat-icon>-->
          <mat-icon  matListIcon>account_box</mat-icon>
          <p matLine>Client Info</p>
        </mat-list-item>
      </a>

      <a routerLink='food-macros'>
        <mat-list-item>
          <!-- <mat-icon svgIcon="create" matListIcon></mat-icon> -->
          <mat-icon  matListIcon>create</mat-icon>
          <p matLine>Create Meal Plan</p>
        </mat-list-item>
      </a>

      <a routerLink='meal-plan'>
        <mat-list-item>
          <!-- <mat-icon svgIcon="article" matListIcon></mat-icon> -->
          <mat-icon  matListIcon>article</mat-icon>
          <p matLine>Last Meal Plan</p>
        </mat-list-item>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
