<div id="main">
  <div class="container-fluid">
    <div class="row justify-content-center mt-2">
      <div class="col-12 col-sm-12 col-lg-12 col-xl-11">
        <h1>Last Meal Plan</h1>
      </div>
    </div>

    <div class="row justify-content-center mt-2">
      <div class="col-12 col-sm-12 col-lg-12 col-xl-11">
        <div class="card">
          <div class="card-body">

              <div class="container-fluid" style="padding-left:0;padding-right:0;" *ngIf="sharedService.is_food_macros===false">
                <div class="row">
                  <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h2>Complete Previous Step</h2>
                  </div>
                </div>
              </div>

              <div class="container-fluid" style="padding-left:0;padding-right:0;" *ngIf="sharedService.is_food_macros===true">
                <div class="row justify-content-end">
                  <div class="col-5 col-sm-4 col-lg-4 col-xl-3">
                    <button mat-raised-button  style="width:100%;" color="primary"  (click)="onDownload">Download PDF</button>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
